* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
}

html {
  --black: #0D114F;
  --white: #FAFAFA;
  --red: #E83F5B;
  --light-blue: #E0ECFF;
  --blue: #3485FF;
  --background: #FBFCFF;
  --overlay: #040911;
  --icons-details: #A5B0C1;

  --grey-dark: #4D5E77;
  --grey-blue: #A1B2CD;
  --grey-medium: #D3D9E2;
  --grey-light: #E5EAF1;

  font-size: 62.5%;
}

h2 {
  font-size: 2.8rem;
}

body {
  height: 100vh;
  width: 
}
