.content {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 11.4rem 1fr;

  grid-template-areas: 
  'header header'
  'left right';
}

header {
  grid-area: header;
}

#bg {
  grid-area: left;
  background: url('/public/images/home-bg-img.svg');
}

main {
  grid-area: right;
}